<form method="POST" action="/cluster/{{ curr_cluster }}/add-server/" style="margin:0 auto;width:250px;height:300px;background:white">{% csrf_token %}
    <div class="control-group">
        <label for="name" class="control-label">Server Name</label>
        <div class="controls">
            <input type="text" name="name" id="name" placeholder="Server Name">
        </div>
    </div>
    <div class="control-group">
        <label for="image" class="control-label">Image</label>
        <div class="controls">
            <select name="image" id="image">
                {% for image in images %}
                <option value="{{ image.id }}">{{ image.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="flavor" class="control-label">Flavor</label>
        <div class="controls">
            <select name="flavor" id="flavor">
                {% for flavor in flavors %}
                <option value="{{ flavor.id }}">{{ flavor.name }} ( {{ flavor.vcpus }} CPUs / {{ flavor.ram }} MB Memory / {{ flavor.disk }} GB Disk )</option>
                {% endfor %}
            </select>
        </div>
    </div>  
    <div class="control-group">
        <div class="controls btn-group">
            <button type="button" class="btn btn-primary" onclick="add_server();">Launch</button>
            <button type="button" class="btn" onclick="hide_add_server();">Close</button>
        </div>
    </div>
</form>
