{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/cluster.js"></script>
<script type="text/javascript">
var curr_cluster = "{{ curr_cluster }}";
{% ifnotequal curr_cluster "" %}
window.setInterval(update_server, 3000);
window.addEventListener('DOMContentLoaded', init, false);
{% endifnotequal %}
</script>
{% endblock %}

{% block body %}
<h1>
Panini
<span class="lead">Platform for High Performance Computing</span>
</h1>

<ul id="clusters" class="nav nav-tabs">
{% for cluster in clusters %}
<li id="cluster-{{ cluster.name }}" class="{% ifequal cluster.name curr_cluster %}active{% endifequal %}">
    <a href="/cluster/{{ cluster.name }}/">{{ cluster.name }}</a>
</li>
{% endfor %}
<li class="pull-right"><a href="/logout/">Exit</a></li>
<li class="pull-right"><a href="/delete-cluster/{{ curr_cluster }}/">Delete</a></li>
<li class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li>
        <form method="POST" action="/add-cluster/" class="navbar-form">{% csrf_token %}
        {{ cluster_form.name }}
        <button type="button" class="btn" onclick="add_cluster();">Add cluster</button>
        </form>
    </li>
    </ul>
</li>
</ul>

{% ifnotequal curr_cluster "" %}
<div id="servers">Loading...</div>
<div id="add-server" style="display: none;position:fixed;top:0;width:100%;height:100%;background:black">Loading...</div>
{% endifnotequal %}
{% endblock %}
