{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/cluster.css">
<script type="text/javascript" src="/static/js/cluster.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
var curr_cluster = "{{ curr_cluster }}";
var cpu_data = [['Server', 'CPU']];
var ram_data = [['Server', 'RAM']];
var cpu_ram_data = [['Server', 'CPU', 'RAM']];
var disk_data = [['Server', 'Disk']];
{% ifnotequal curr_cluster "" %}
//window.setInterval(update_server, 3000);
window.addEventListener('DOMContentLoaded', init, false);
{% endifnotequal %}
</script>
{% endblock %}

{% block body %}
<h1>
<img src="/static/img/panini.png" alt="Panini">
</h1>

<ul id="clusters" class="nav nav-tabs">
{% for cluster in clusters %}
<li id="cluster-{{ cluster.name }}" class="{% ifequal cluster.name curr_cluster %}active{% endifequal %}">
    <a href="/cluster/{{ cluster.name }}/">{{ cluster.name }}</a>
</li>
{% endfor %}
<li class="pull-right"><a href="/logout/">Exit</a></li>
<li class="pull-right"><a href="/delete-cluster/{{ curr_cluster }}/">Delete</a></li>
<li class="dropdown pull-right"><a href="#add-a-new-cluster" role="button" data-toggle="modal">Add</a></li>
</ul>
<form method="POST" action="/add-cluster/" id="add-a-new-cluster" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-a-new-cluster-label" aria-hidden="true">{% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add-a-new-cluster-label">Add a new cluster</h3>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd><input type="text" name="name"></dd>
        </dl>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls btn-group">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</form>

{% ifnotequal curr_cluster "" %}
<div id="servers" class="full">Servers</div>
<div id="chart" class="full">
    <div id="cpu_chart" class="chart pull-left">CPU Chart</div>
    <div id="ram_chart" class="chart pull-left">RAM Chart</div>
    <div id="disk_chart" class="chart pull-left">Disk Chart</div>
</div>
<div id="add-server" class="full" style="margin-bottom:2em;"></div>
<div id="hdfs" class="full">HDFS</div>
<div id="mapreduce" class="full" style="margin-bottom:2em;">MapReduce</div>
{% endifnotequal %}
{% endblock %}
